.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.projects-header h1 {
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
}

.projects-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
}

.project-card {
  object-fit: cover;
  border: 1px solid rgba(180, 179, 179, 0.933);
  border-radius: 20px;
  background-color: white;
}
.project-card > .title {
  display: flex;
  justify-content: start;
  font-size: 17px;

  margin-left: 10px;
  padding-top: 10px;
  transition: all ease-in-out 0.2s;
}
.project-card > .title h5 {
  background-color: rgb(201, 198, 198);
  border-radius: 20px;
  padding: 5px 15px;
  margin-left: 10px;
}

.project-card > .body {
  text-align: center;
  padding: 0px 20px 20px 20px;
}

.project-card > .body p {
  margin-top: 10px;
  display: none;
}

.project-card > .image {
  object-fit: cover;
  height: 15vw;
  display: block;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  transition: all ease-in-out 0.2s;
}

.project-card:hover > .image {
  transform: scale(0.92);
}

.card-links {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.card-links a {
  padding: 10px 15px;
  width: 50%;
  text-decoration: none;
  color: white;
  border-radius: 20px;
}

.card-links > .repository {
  background-color: black;
}

.card-links > .website {
  background-color: rgb(71, 71, 71);
}

.card-links > .website:hover {
  background-color: rgb(117, 117, 117);
}

.card-links > .website:hover i {
  animation: 0.7s infinite bumping-right ease-in-out;
}

@keyframes bumping-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 1200px) {
  .projects {
    margin-top: 140px;
  }
  .projects-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .projects {
    margin-top: 140px;
  }
  .projects-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-card > .image {
    height: 50vw;
  }
}

@media (max-width: 996px) {
  .projects-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-card > .image {
    height: 40vw;
  }
}
@media (max-width: 768px) {
  .projects-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-card > .image {
    height: 50vw;
  }
}

@media (max-width: 576px) {
  .projects-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card > .image {
    height: 60vw;
  }
}
