.hero {
  margin-top: 80px;
  height: 60vh;
}

.hero-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.hero-items img {
  height: 100%;
  width: 70%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.image {
  position: relative;
}
.back-circle {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 310px;
  height: 310px;
  background-color: white;
  border-radius: 20%;
  transform: rotate(45deg);
  animation: rotate-infinite 10s ease-in-out infinite;
  z-index: 1;
}

@keyframes rotate-infinite {
  0% {
    transform: rotate(360deg) scale(0.8);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(0.8);
  }
}

.about h5 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: end;
}

.about p {
  text-align: justify;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: white -1px -2px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 15px;
}

.social-media a:hover {
  animation: 0.8s ease-in infinite squezee-buttons;
  color: rgb(255, 255, 255);
  text-shadow: gray 2px 5px;
}

.btn-github {
  border: none;
  color: black;
  background-color: transparent;
  transition: all ease 0.2s;
}

.btn-linkedin {
  border: none;
  color: rgb(78, 154, 241);
  background-color: transparent;
  transition: all ease 0.2s;
}

.hero-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-footer h2 {
  text-shadow: white 2px 2px;
  font-weight: bolder;
  animation: 1s ease-out 0s infinite bubbing-up-down;
}

.hero-footer button {
  border: none;
  color: white;
  background-color: transparent;
  text-shadow: black 2px 2px;
  animation: 1s ease-out 0s infinite bubbing-up-down;
}

.gradient-blue {
  background: rgb(188, 187, 189);
  background: linear-gradient(
    180deg,
    rgba(188, 187, 189, 1) 0%,
    rgba(168, 168, 168, 1) 6%,
    rgba(217, 225, 227, 1) 100%
  );
}

@media (max-width: 1024px) {
  .hero {
    height: 100vh;
    padding-bottom: 200px;
  }
  .hero-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .about h5 {
    display: none;
  }
  .hero-items img {
    width: 100%;
    margin-bottom: 20px;
  }
  .hero-footer h2 {
    font-size: 30px;
    text-align: center;
  }

  .about p {
    text-align: center;
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 100px;
  }
  .hero-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .about h5 {
    display: none;
  }
  .hero-items img {
    width: 100%;
    margin-bottom: 60px;
  }
  .hero-footer h2 {
    font-size: 30px;
    text-align: center;
  }

  .about p {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .hero {
    padding-bottom: 300px;
  }
  .hero-items img {
    margin-bottom: 60px;
  }
}
