@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: "Quicksand", sans-serif;
}
.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.bg-gray-light {
  background-color: rgb(201, 201, 201);
}

.shadowed {
  box-shadow: 7px 7px 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  min-height: 100vh;
}
