* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: 0px 1fr;
  height: 100vh;
}

.wrapper.active {
  grid-template-columns: 200px 1fr;
}

@keyframes smooth-close {
  0% {
    grid-template-columns: 0px 1fr;
  }

  100% {
    grid-template-columns: 200px 1fr;
  }
}

@media (min-width: 1000px) {
  .wrapper.active {
    grid-template-columns: 200px 1fr;
    animation: ease 0.7s smooth-close;
  }
}

@media (max-width: 500px) {
  .wrapper.active {
    grid-template-columns: 0px 1fr;
  }
}
