* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: 0px 1fr;
  margin-left: -200px;
  height: 100vh;
}
.wrapper.active {
  margin-left: -200px;
}
